<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" id='index' aria-current="page" href="/EP1000/website/pages/home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id='about' href="/EP1000/website/pages/aboutme.html">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id='timeline' href="/EP1000/website/pages/timeline.html">Timeline</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id='tools' href="/EP1000/website/pages/tools.html">Tools</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id='projects' href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Projects
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item"
                                href="/EP1000/website/pages/project/project-website.html">Website</a></li>
                        <li><a class="dropdown-item" href="/EP1000/website/pages/project/project-cg.html">Computer
                                Graphics</a></li>

                        <li><a class="dropdown-item" href="/EP1000/website/pages/project/project-3D.html">3D
                                Modelling</a></li>
                        <li><a class="dropdown-item" href="#">Project 3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>