//theming

$primary: #202020;
$secondary: #b0b0b0;
@import "../node_modules/bootstrap/scss/bootstrap";

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-weight: 700;
}

a{
    color: blue;
    text-decoration: none;
    &:hover{
        color: blue;
text-decoration: underline;
    }     
}

//styling

div.content{
    width:75%;
    margin:auto;
    margin-top: 5px;
}

h1.header{
text-decoration: underline;
}

.aboutme {
    width:65%;
    
    +.imgframe{
        display:inline;
        width:40%;
        padding: 5px;
        border-radius: 5px;
        background-color: $secondary;

        img{
            width: 100%;
            border-radius:4px;
        }
    }
}

.stepimg{
border: $primary solid 2px;
margin-bottom:50px;
width:75%;
}

.blist {
    padding-left: 0;
    >li {
    list-style-type: none;
    }
}